swagger: '2.0'
info:
  title: CAA Mgmt Project
  description: API for CAA management
  version: "1.0"
host: portfoliomgmt.mybluemix.net
schemes:
  - https
  - http
basePath: /api/v1
produces:
  - application/json
paths:

  /case/:
    post:
      summary: Create a new case
      description: Create a new case
      parameters: 
        - name: case
          in: body
          description: an integer id of case
          required: true
          schema: { $ref: '#/definitions/case'}
      tags:
        - Cases
      responses:
        201:
          description: Case id of the new case
          schema: { $ref: '#/definitions/case_id'}
        400:
          description: Body is not well formed (more details in error message)
          schema: {$ref: '#/definitions/error_data'}
    put:
      summary: Update an existing case
      description: Update an existing case by providing a case. Id in that case refers to which case you are updating, any attribute with a non-null value
      will be Update
      parameters: 
        - name: case
          in: body
          description: an integer id of case
          required: true
          schema: { $ref: '#/definitions/case'}
      tags:
        - Cases
      responses:
  /case/{case_id}:
    delete:
      summary: delete a case by id
      description: delete a case refers by the given case id
      parameters:
        - name: case_id
          in: path
          description: an integer id of case
          required: true
          schema: { $ref: '#/definitions/case_id'}
      responses:
        404:
          description: No case with given case id exist (more details in error message)
          schema: {$ref: '#/definitions/error_casedoesnotexist'}
    get:
      summary: Get case by id
      description:
        This get request returns a case by the id specified
      parameters: 
        - name: case_id
          in: path
          description: an integer id of case
          required: true
          schema: { $ref: '#/definitions/case_id'}
      tags:
        - Cases
      responses:
        200:
          description: A case
          schema:
            type: object
            items:
              $ref: '#/definitions/case'
  /case/usr_id/{usr_id}/:
    get:
      description: Search for usr's cases by id. By default the result is sorted by create time. User of this api can
      pass in a list of search specs to further refine the result. Relationship between different search spec is AND.
      In each search spec, you can specify the a specified val for the attr that you are searching for or you can specify
      you want the sorting order of returned result. When multiple sorting order is specified, the one appears first takes
      a higher priority.
      An usr is only allowed to search his own cases and his team members' cases.
      tags: Cases
      parameters:
        - name: usr_id
          in: path
          required: true
          schema: { $ref: '#/definitions/usr_id'}
        - name: search_specs
          in: body
          required: false
          schema:
            type: array
            items:
              $ref: '#/definitions/search_spec'
      responses:
        200:
          description: An array of assets
          schema:
            type: array
            items:
              $ref: '#/definitions/asset_description'

  /usr/{usr_id}:
    get:
      summary: Get a usr by usr_id

  /case_status/:
    get:
      summary: Get all case status
      description:
        The case_status endpoint returns all defined case status stored on the system.
        The response includes the case_status string cal, case_status id, and possible case status that this case status points to.
      tags:
        - CaseStatus
      responses:
        200:
          description: An array of case_status
          schema:
            type: array
            items:
              $ref: '#/definitions/case_status'
    post:
      summary: Create a new case_status
      parameters:
        - name: body
          in: body
          description: New case_status
          required: true
          schema: { $ref: '#/definitions/case_status'}
  /case_status/{case_status_id}:
    delete:
      summary: delete a case_status by id
      tags: CaseStatus
      responses:
    put:
      summary: update a case_status by id
      tags: CaseStatus
      responses:

definitions:

  case_id:
    type: integer
  usr_id:
    type: integer

  case:
    type: object
    properties:
      caseId:
        type: integer
      usrId:
        type: integer
      custId:
        type: integer
      statusId:
        type: integer
      createTime:
        type: string
      closeTime:
        type: string

  case_status_id:
    type: integer

  case_status:
    type: object
    properties:
      nexts:
        type: array
        items: 
          $ref: '#/definitions/case_status_id'
      str_val:
        type: string
      id:
        type: integer

  usr:
    type: object
    properties:
      id:
        type: integer
      name_first:
        type: string
      name_last:
        type: string
      contacts:
        type: string


  search_spec:
    type: object
    properties:
      attr_name:
        type: string
      attr_val:
        type: string
      descending:
        type: bool

  error_data:
    type: object
    properties:
      error:
        type: string
        description: Highlights that the data is not JSON or does not have the necessary required information.
        default: "The data is not valid."

  error_userexists:
    type: object
    properties:
      error:
        type: string
        description: The user already exists in the database
        default: "The user already exists in the database."

  error_userdoesnotexist:
    type: object
    properties:
      error:
        type: string
        description: The user does not exist in the database
        default: "The user does not exist in the database."

  error_casedoesnotexist:
    type: object
    properties:
      error:
        type: string
        description: The case does not exist in the database
        default: "The case does not exist in the database."
        
  error_caseexists:
    type: object
    properties:
      error:
        type: string
        description: Case with id x already existed
        default: "Case with id x already existed."
        
        